body {
  display: flex;
  flex-direction: column;
}
.header {
  width: 100%;
  height: 6vh;
  background-color: #c4c4c4c4;
}
.container {
  width: 100%;
  height: 92vh;
  background-color: #8e8e8e;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main {
  margin-top: 5vh;
  width: 50vw;
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #efefef;
}
.mainTop {
  width: 23vw;
  height: 25vh;
  margin-left: 18px;
  background-color: white;
}
.mainFeed {
  margin-left: 15px;
  margin-right: 5px;
  width: 23vw;
  height: 25vh;
  background-color: white;
}
.side {
  margin-top: 50px;
  margin-bottom: 5vh;
  width: 50vw;
  height: 50vh;
  background-color: #efefef;
}
